@charset "utf-8";

/* GLOBAL STYLES */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
}

/* MAIN PAGE STYLES */
main {
  position: relative;
  width: 100%;
  padding: 75px 0;
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'PT Serif', serif;
}

h2 {
  padding-top: 20px;
  margin: 0px;
  font-size: 45px;
}

.descriptiontext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  margin: 50px 5%;
}

.joincontainer {
  text-align: center;
}

.joinlink {
  width: 120px;
}

button {
  width: 120px;
  height: 60px;
  background-color: $hyper;
  border: none;
  color: white;
  font-size: 22px;
  font-family: 'PT Serif', serif;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.pagecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
  padding: 50px;
}

.pagetile {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: 0.2s;
  text-decoration: none;
}

.pagetile:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  cursor: pointer;
}

.pagetitle {
  font-size: 24px;
  font-family: 'PT Serif', serif;
  margin-top: 10px;
}

.pagedescriptor {
  font-family: Roboto, sans-serif;
}
