.resource-link {
  margin: 20px 0;
  line-height: 1.6;

  h3 {
    font-size: 24px;
  }

  .resource-author {
    font-size: 18px;
  }

  .resource-tag {
    background-color: #ececec;
    padding: 3px 8px;
    border-radius: 10px;
    margin: 0 5px;
  }
}
