h1, h2 {
    text-align: center;
}

.staff-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.staff-card {
    display: inline-block;
    border: 1px solid black;
    padding: 15px 10px;
    margin: 5px 15px;
    text-align: center;
    min-width: 200px;
}

.profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.super-admin {
    color: purple;
}

.admin {
    color: red;
}

.mod {
    color: #DEC20B;
}

.coco {
    color: orange;
}
